body.legal {

    width: inherit;
    height: inherit;
    overflow: auto;

    .container {
        height: unset;

        .inner-container {
            align-items: self-end;
            text-align: left;

            ul {
                list-style: square;
                text-align: left;
                padding: 10px;
                margin-left: 15px;

                li {
                    line-height: 20px;
                }
            }

            a {
                color: #44a4ec;
            }
        }
    }

    .container {
        padding-top: 45px;
        height: auto;
        padding-bottom: 60px;

        .inner-container {
            height: auto;
        }
    }

    footer {
        position: unset;
        margin-top: -40px;
    }



}